.about-page {
    min-height: 100vh;
    background: #0F0F0F;
    color: #FBFBFB;

    padding: 140px 20px 80px;
}

/* nagłówek jak w offer */
.about-page h1 {
    text-align: center;
    font-size: 56px;
    margin-bottom: 60px;
    font-weight: 800;
    letter-spacing: 1px;
}

/* główny kontener */
.about-content {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    gap: 60px;
    align-items: stretch;

    background: #0F0F0F;

    border-radius: 30px;
    padding: 50px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 20px 50px rgba(0,0,0,0.35);
}

/* zdjęcie */
.about-image {
    flex: 1;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    min-height: 100%;

    gap: 24px;
}

.about-image img {
    width: 100%;
    max-width: 450px;
    height: 700px;

    object-fit: cover;

    border-radius: 20px;

    transition: transform 0.5s ease;
}

.about-back-btn {
    align-self: flex-start;

    background: transparent;
    color: rgba(255,255,255,0.8);

    border: 1px solid rgba(255,255,255,0.2);

    padding: 18px 28px;
    border-radius: 999px;

    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.3s ease;
}

.about-back-btn:hover {
    background: rgba(255,255,255,0.06);
    transform: translateY(-2px);
}

.about-image img:hover {
    transform: scale(1.03);
}

/* tekst */
.about-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.9;

    color: #FBFBFB;
}

.about-text p {
    margin-bottom: 20px;
}

/* MOBILE / TABLET */
@media (max-width: 900px) {
    .about-content {
        flex-direction: column;
        padding: 35px;
        text-align: center;
    }

    .about-page h1 {
        font-size: 42px;
    }

    .about-image img {
        max-width: 350px;
        height: 420px;
    }
}

@media (max-width: 600px) {
    .about-page {
        padding-top: 120px;
    }

    .about-page h1 {
        font-size: 32px;
    }

    .about-text {
        font-size: 16px;
        line-height: 1.7;
    }

    .about-image img {
        height: 320px;
    }
}
.about-page h1 {
    background: linear-gradient(90deg, #fff, #FBFBFB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text p {
    margin-bottom: 18px;
    color: #FBFBFB;
    line-height: 1.9;
    font-size: 17px;
}

/* pierwszy akapit = mocny start */
.about-text .lead {
    font-size: 20px;
    color: #FBFBFB;
    font-weight: 500;
}

/* wyróżnienie marki */
.about-text .highlight {
    margin: 25px 0;
    padding: 18px 20px;

    border-left: 3px solid #FBFBFB;

    background: rgb(228 240 246 / 0.08);

    color: #fff;

    font-weight: 500;
}