
/* HERO */
.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: black;
}

/* OBRAZ = CAŁA SEKCJA */
.hero-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

/* overlay na obraz */
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

/* content nad obrazem */
.hero-content {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #FBFBFB;
    text-align: center;
    padding: 20px;
}
.hero-content img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.hero-content h1 {
    font-size: 90px;
    line-height: 0.95;

    font-weight: 800;

    margin-bottom: 30px;

    text-transform: uppercase;
}

.hero-content p {
    font-size: 24px;
    letter-spacing: 2px;

    font-family: "Roboto", sans-serif;
    font-weight: 100;

    margin-bottom: 40px;
    color: #FBFBFB;
}





/* TABLET */
@media (max-width: 1024px) {
    .hero-content h1 {
        font-size: 60px;
    }

    .hero-content p {
        font-size: 20px;
    }
}

/* MOBILE */
@media (max-width: 600px) {
    .hero {
        height: 70vh;
    }

    .hero-img {
        height: 70vh;
        object-fit: cover;
        object-position: -550px top;
    }
}

