.offer {
    background:  #0F0F0F;
    color: #E4F0F6;
    padding: 80px 40px;
}

.offer h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.offer-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 450px));
    gap: 20px;

    justify-content: center;
    justify-items: center;
}

/* 2 kolumny */
@media (max-width: 1100px) {
    .offer-grid {
        grid-template-columns: repeat(2, minmax(320px, 450px));
    }
}

/* 1 kolumna */
@media (max-width: 700px) {
    .offer-grid {
        grid-template-columns: minmax(320px, 450px);
    }
}

.offer-grid-img {
    width: 100%;
    height: 300px;
    object-fit: cover;

    transition: transform 0.4s ease;
}

/* tablet */
@media (max-width: 900px) {
    .offer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* telefon */
@media (max-width: 600px) {
    .offer-grid {
        grid-template-columns: 1fr;
    }
}

.card {
    background:  #0F0F0F;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    border: #252525 solid 1px;
    cursor: pointer;


    width: 100%;
    max-width: 320px;
    min-height: 520px;

    display: flex;
    flex-direction: column;

    border-radius: 15px;
    overflow: hidden;

    padding: 0;
    aspect-ratio: 3 / 5;
    transition:
            transform 0.35s ease,
            border-color 0.35s ease,
            box-shadow 0.35s ease;
}
.card:hover {
    transform: scale(1.04);

    border-color: white;

    box-shadow:
            0 20px 40px rgba(0,0,0,0.35)
}
.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.card-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.details-btn {
    margin-top: auto;
    margin-bottom: 30px;
}
.card-desc {
    color: #E4F0F6;

    font-size: 20px;
    text-align: center;
    line-height: 1.5;

    padding: 15px;

    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.card h3 {
    background: #252525;
    color: #E4F0F6;

    margin: 0;

    font-size: 19px;
    text-align: center;

    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 70px;
    padding: 10px 15px;
    line-height: 1.2;
}
.details-btn {
    margin-top: auto;

    display: block;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;

    padding: 12px 24px;

    border: none;
    border-radius: 10px;
    background: #0F0F0F;
    color: #E4F0F6;
    cursor: pointer;

    transform: translateY(20px);
    opacity: 0;

    transition: 0.3s ease;
    pointer-events: none;
}

.card:hover .details-btn {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.details-btn:hover {
    background: #333;
}

.img-wrapper {
    flex-shrink: 0;
}

.services {

    background:  #0F0F0F;
    color: #E4F0F6;
    padding: 80px 40px;
}

.services h2 {
    font-size: 50px;
    margin-bottom: 40px;
}


.services .card {
    transform: scale(0.95);
    opacity: 0.95;
    border-color: #1C1C1C;

    width: 100%;
    max-width: 320px;

    aspect-ratio: 1 / 1.6;

    min-height: unset;

    flex-direction: column;
}

.services .card:hover {
    transform: scale(1);
    opacity: 1;
    border-color: #E4F0F6;
}

