* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 100;

}

.footer-contact {
  position: relative;
  padding: 30px 20px;
  background: #0F0F0F;
  color: #FBFBFB;
}

.footer-contact-row {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  color: #FBFBFB;
}

.footer-list p {
  margin: 0;
}



/* MOBILE */
@media (max-width: 768px) {
  .footer-contact {
    padding: 60px 6%;
  }

  .footer-contact-header h2 {
    font-size: 26px;
  }

  .footer-contact-box {
    max-width: 100%;
  }
}

.footer-contact {
  position: relative;
}

.scroll-top-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 20px 25px;
  border-radius: 25px;

  border: none;
  cursor: pointer;

  background: #FBFBFB;
  color: #010013;
  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 6px;

  white-space: nowrap;
  transition: 0.3s;
}

.scroll-top-btn:hover {
  opacity: 0.7;
  transform: translateY(-3px);
}