* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 100;

}

.footer-contact {
  padding: 40px 20px;

  background: #0F0F0F;
  color: #FBFBFB;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
}

.footer-contact-row {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  color: #FBFBFB;
}

.footer-list p {
  margin: 0;
}



/* MOBILE */
@media (max-width: 768px) {

  .scroll-top-btn {
    top: 10px;
    right: 10px;

    padding: 8px 12px;
    border-radius: 10px;

    font-size: 11px;
    gap: 3px;
  }
}

.footer-contact {
  position: relative;
}

.scroll-top-btn {
  padding: 20px 25px;
  border-radius: 25px;

  border: none;
  cursor: pointer;

  background: #FBFBFB;
  color: #010013;

  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: right;
  gap: 6px;

  transition:
          opacity 0.3s ease,
          box-shadow 0.3s ease,
          transform 0.3s ease;

  will-change: transform;
}

.scroll-top-btn:hover {
  opacity: 0.85;
  transform: translate3d(0, -3px, 0);

  box-shadow: 0 10px 25px rgba(0,0,0,0.18);
}