* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app {
  width: 100%;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 20px;
  left: 50%;

  transform: translateX(-50%);

  width: calc(100% - 40px);
  max-width: 1400px;

  padding: 18px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.35);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  border-radius: 20px;

  z-index: 9999;

  transition: 0.3s ease;
}

/* LOGO */
.logo {
  height:40px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
  width: auto;
  display: block;
}

/* LINKI */
.navbar-links {
  display: flex;
  gap: 40px;

  list-style: none;
}

.navbar-links li {
  color: white;
  cursor: pointer;

  transition: 0.3s;
}

.navbar-links li:hover {
  opacity: 0.7;
}

/* BUTTON */
.navbar-btn {
  background: white;
  color: black;

  border: none;

  padding: 12px 24px;

  border-radius: 999px;

  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.navbar-btn:hover {
  transform: scale(1.05);
}

/* MOBILE */
@media (max-width: 900px) {
  .navbar {
    padding: 16px 20px;
  }

  .navbar-links {
    display: none;
  }

  .navbar-btn {
    padding: 10px 18px;
    font-size: 14px;
  }
}

/* Koniec Navbar */






/* HERO */
.hero {
  position: relative;

  min-height: 100vh;
  width: 100%;

  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  overflow: hidden;
}

/* PRZYCIEMNIENIE */
.hero-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.55);
}

/* CONTENT */
.hero-content {
  position: relative;
  z-index: 2;

  color: white;

  padding: 20px;

  max-width: 900px;
}

.hero-content h1 {
  font-size: 90px;
  line-height: 0.95;

  font-weight: 800;

  margin-bottom: 30px;

  text-transform: uppercase;
}

.hero-content p {
  font-size: 24px;
  letter-spacing: 2px;

  margin-bottom: 40px;

  color: rgba(255, 255, 255, 0.9);
}

/* BUTTON */
.hero-btn {
  background: transparent;

  border: 2px solid white;

  color: white;

  padding: 18px 40px;

  border-radius: 50px;

  font-size: 16px;
  font-weight: bold;

  transition: 0.3s;
}

.hero-btn:hover {
  background: white;
  color: black;
}

/* TABLET */
@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 60px;
  }

  .hero-content p {
    font-size: 20px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .hero {
    min-height: 80vh;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-btn {
    width: 100%;
  }
}

/*contact */






/* CONTACT */

.Contact {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: flex-start;

  gap: 60px;

  width: 100%;
  padding: 80px;

  background: #fff1e2;
  color: white;

  box-sizing: border-box;
}

/* LEWA */
.Contact-left {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 30px;

  flex-shrink: 0;
}

/* PRAWA */
.Contact-right {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 30px;

  flex-shrink: 0;
}

/* BOX */
.Contact-card,
.Big-card {
  position: relative;
  overflow: hidden;

  background: white;
  border-radius: 16px;
  padding: 20px;
  border-radius: 8px;

  min-height: 160px;
}

/* DUŻY BOX */
.Big-card {
  grid-column: span 2;
}

/* MOBILE */
@media (max-width: 1200px) {
  .Contact {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .Contact-left,
  .Contact-right {
    grid-template-columns: 1fr;
  }

  .Big-card {
    grid-column: span 1;
  }
}

/* OFFER */
.offer {
  background: #231F20;
  color: white;
  padding: 80px 40px;
}

.offer h2 {
  font-size: 50px;
  margin-bottom: 40px;
}

.offer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 40px;

  justify-items: center;
}

.offer-grid-img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  transition: transform 0.4s ease;
}

.card {
  background: #fff1e2;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);

  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.card-desc {
  padding: 10px;
  color: black;
}

.details-card {
  background: white;
  color: black;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 12px;
  opacity: 0;
  transform: scale(0.98);
  animation: fadeIn 0.2s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

.card-inner {
  width: 100%;
  overflow: hidden;
}

.card h3 {
  color: #06273c;
  margin-bottom: 10px;
  font-size: 19px;
}
.details-btn {
  margin-top: auto;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.details-btn:hover {
  background: #333;
}

.details-card p {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.img-wrapper {
  overflow: hidden;
  border-radius: 12px;
}

.img-wrapper:hover .offer-grid-img {
  transform: scale(1.15);
}

/* LOCATION */
.location {
  padding: 80px 40px;
  text-align: center;
  background: #fff1e2;
}

.location h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

/* BUTTONS */
.btn {
  background: #06273c;;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.btn.dark {
  background: black;
  color: white;
}

/* 🔥 RESPONSYWNOŚĆ */

/* TABLET */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
  }

  .offer-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-left h1 {
    font-size: 40px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  .hero-left {
    padding: 40px 20px;
  }

  .about-text {
    padding: 40px 20px;
  }

  .offer {
    padding: 40px 20px;
  }

  .location {
    padding: 40px 20px;
  }

  .offer-grid {
    grid-template-columns: 1fr;
  }

  .hero-left h1 {
    font-size: 32px;
  }

  .offer h2,
  .location h2 {
    font-size: 32px;
  }
}

/* BEFORE AFTER */
.before-after {
  background: #231F20;
  color: white;

  padding: 80px 20px;
}

.before-after h2 {
  font-size: 60px;
  margin-bottom: 50px;
  text-align: left;
}

.ba-grid {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 20px;
  justify-content: center;
}

.ba-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ba-item p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* CONTACT */
.contact {
  background: #231F20;;
  padding: 80px 20px;
  text-align: center;
  color: white ;
}

.contact h2 {
  font-size: 50px;
  margin-bottom: 40px;
}

.contact-grid {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.contact-grid div {
  max-width: 300px;
}

.contact h3 {
  margin-bottom: 10px;
}

/* Tu jest przesuwanie */

.before-after {
  overflow: hidden;
  padding: 40px 0;
}

.ba-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ba-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scrollSlider 20s linear infinite;
}

.ba-item {
  min-width: 300px;
  text-align: center;
  flex-shrink: 0;
}

.ba-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

@keyframes scrollSlider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

#sociale1 {
  display: flex;
  align-items: center;      /* pionowo */
  justify-content: center;  /* poziomo */
}

#sociale2 {
  display: flex;
  align-items: center;      /* pionowo */
  justify-content: center;  /* poziomo */
}